PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/tripplanner-db
COOKIE_SECURE=false
CORS_ORIGIN=http://localhost:5173
API_URL=http://localhost:3000/api
ALLOWED_FOR_TRAVELER='places, activities';
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
DEFAULT_AVATAR=https://res.cloudinary.com/dkzebu5kd/image/upload/v1773336928/avatar.png
COUNTRY_API_URL=https://restcountries.com/v3.1/all?fields=name,cca2,flag
COUNTRY_IMAGE_URL=https://api.unsplash.com/search/photos
USNPLASH_KEY=